@font-face {
	font-family: clemente;
	src: url(../../fonts/HyperacticBold.ttf);
}
@font-face {
	font-family: hyperactic-regular;
	src: url(../../fonts/HyperacticRegular.ttf);
}
@font-face {
    font-family: Small Bunny;
    src: url(../../fonts/SmallBunnyRegular.woff2) format('woff2'),
         url(../../fonts/SmallBunnyRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-clemente {
	font-family: clemente;
}
.font-hyperactic {
	font-family: hyperactic-regular;
}
.font-bunny {
	font-family: Small Bunny;
}
:root {
	--color-primary: #066491;
    --color-success: #3ce586;
    --color-muted: #0f475833;
    --color-light: #e7bd47;
    --color-warning: #e75a67;
    --color-default: #cdcdcd;
    --color-dark-background: #0e0e0e1a;
    --tewi-glassmorph: rgba(255, 255, 255, 0.14);
    --tewi-glassmorph-light: rgba(252, 225, 225, 0.12);
}

html {
	min-height: 100%;
}
body {
	background: rgb(135,189,199);
	background: linear-gradient(315deg, rgba(135,189,199,1) 0%, rgba(108,162,196,1) 23%, rgba(84,172,214,1) 89%);
	color: #cdcdcd;
	height: 100%;
	overflow-y: hidden;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	position: absolute;
}

/* Add the glassmorphism style to the scrollbar thumb */
::-webkit-scrollbar-thumb {
	height: 50px;
	background: var(--tewi-glassmorph-light);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Add the glassmorphism style to the scrollbar track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

label {
	color: var(--color-light);
	font-size: 12px;
}

hr {
	background-color: var(--color-muted);
	opacity: 1;
}
ul {
	/*margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	padding-inline-start: 0 !important;*/
}

pre {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.16);
	padding: 18px;
}

code {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.16);
	color: var(--color-light);
}

/* ========================================================================================  */
/* ==================================== BOOTSTRAP =========================================  */
/* ========================================================================================  */
.modal-backdrop.show {
/*	opacity: 0.8;*/
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}
.modal-open {
/*    overflow-y: scroll;*/
}
.fade {
	transition: 0.05s;
}
.btn {
	color: var(--color-primary);
}
.btn-primary {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: var(--color-primary) !important;
	padding: 4px 8px;
	transition: 0.005s;
}
.btn-primary:hover {
	background: var(--tewi-glassmorph);
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white !important;
} 
.btn-primary:hover img {
	opacity: 0.5;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #b18565;
	background-color: transparent;
	border-color: var(--color-muted);
	opacity: 0.4;
}
.btn-primary:focus, .btn-primary:active {
	outline: none !important;
	box-shadow: none;
	background-color: transparent;
	color: var(--color-primary);
	border-color: var(--color-primary);
	opacity: 0.5;
}
.btn-primary-pressed {
	background: rgba(252, 175, 69, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: var(--color-primary) !important;
	padding: 4px 8px;
	transition: 0.005s;
}
.btn-primary-pressed:hover {
	background: var(--tewi-glassmorph);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: white !important;
	cursor: not-allowed;
} 
.btn-primary-pressed:hover img {
	opacity: 0.5;
}
.btn-primary-pressed.disabled, .btn-primary-pressed:disabled {
	color: #b18565;
	background-color: transparent;
	border-color: var(--color-muted);
	opacity: 0.4;
}
.btn-primary-pressed:focus, .btn-primary-pressed:active {
	outline: none !important;
	box-shadow: none;
	background-color: transparent;
	color: var(--color-primary);
	border-color: var(--color-primary);
	opacity: 0.5;
}
.btn-info {
	border: 1px solid #de940c;
	background-color: transparent;
	color: #de940c !important;
	padding: 4px 8px;
}
.btn-info:hover {
	transition: 0.1s;
	border: 1px solid #92620a;
	background-color: transparent;
	color: #92620a !important;
	padding: 4px 8px;
}
.btn-info.disabled, .btn-info:disabled {
	background-color: #3a311b;
	border-color: #3a311b;
}
.btn-danger {
	border: 1px solid #dc3545;
	background-color: transparent;
	color: #dc3545 !important;
	padding: 4px 8px;
}
.btn-danger:hover {
	transition: 0.1s;
	border: 1px solid #a72935;
	background-color: transparent;
	color: #a72935 !important;
	padding: 4px 8px;
}
.btn-danger:focus, .btn-danger:active {
	outline: none;
	box-shadow: none;
	background-color: transparent;
	color: #dc3545 !important;
	border-color: #dc3545;
}
.btn-danger.disabled, .btn-danger:disabled {
	background-color: transparent;
	border: 1px solid #5c1c22;
	color: #5c1c22 !important;
}
.btn-secondary {
	border: 1px solid #6c757d;
	background-color: transparent;
	color: #6c757d !important;
	padding: 4px 8px;
}
.btn-secondary:hover {
	transition: 0.1s;
	border: 1px solid #494f54;
	background-color: transparent;
	color: #494f54 !important;
	padding: 4px 8px;
}
.btn-secondary.disabled, .btn-secondary:disabled {
	background-color: transparent !important;
}
.btn-tewi-success {
	background: #45fc5b26;
	border-radius: 6px;
	border: 1px solid #45fc5b26;
	color: #2cf54e !important;
	padding: 4px 8px;
	transition: 0.005s;
}
.btn-tewi-success:hover {
	background: #45fc5b33;
	border-radius: 6px;
	border: 1px solid #45fc5b33;
	color: white !important;
} 
.btn-tewi-success:hover img {
	opacity: 0.5;
}
.btn-tewi-success.disabled, .btn-tewi-success:disabled {
	color: #65b16e;
	background-color: transparent;
	border-color: var(--color-muted);
	opacity: 0.4;
}
.btn-tewi-success:focus, .btn-tewi-success:active {
	outline: none !important;
	box-shadow: none;
	background-color: #45fc5b14;
	color: #45fc5b14;
	border-color: #45fc5b14;
	opacity: 0.5;
}
.btn-success {
/*	background: rgba(34, 241, 21, 0.08);*/
	background: transparent;
	border-radius: 6px;
	border: 1px solid var(--color-success);
	color: var(--color-success) !important;
	padding: 4px 8px;
}
.btn-success:hover {
	transition: 0.01s;
	border: 1px solid white;
/*	background-color: transparent;*/
	color: white !important;
}
.btn-success.disabled, .btn-success:disabled {
	background-color: transparent !important;
}
.btn-hoverable:hover {
	opacity: 0.5;
	color: white !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #c7c7c7;
}
.card {
	background-color: #1d2038;
}
.text-muted {
	color: var(--color-muted) !important;
}
.text-success {
	color: var(--color-success) !important;
}
.text-light {
	color: var(--color-light) !important;
}
.text-warning {
	color: var(--color-warning) !important;
}
.text-default {
	color: var(--color-default);
}
.modal-content {
	background-color: var(--tewi-glassmorph);
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	outline: 1px solid var(--color-primary) !important;
}
.modal-header {
	border-bottom: 1px solid var(--color-muted);
}
.modal-footer {
	border: none;
}
.form-group label {
	color: #a3a4c7;
}
.form-control {
	border: none;
	color: #ebebeb;
	background-color: rgba(0, 0, 0, 0.33);
	margin-right: 4px;
}
.form-control:active, .form-control:focus {
	box-shadow: none;
	background-color: #1b170ccc;
	outline: 1px solid var(--color-primary);
	color: #fff;
	transition: 0.1s;
}
select.form-control:before {
	content: "v";
}
select.form-control {
/*	font-weight: bold;*/
	cursor: pointer;
}
.tewi-select {
	background: rgba(252, 175, 69, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: var(--color-primary) !important;
	padding: 4px 8px;
	transition: 0.005s;
}
.tewi-select:hover {
	background: var(--tewi-glassmorph);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	cursor: pointer;
	color: white !important;
} 
.tewi-select:hover img {
	opacity: 0.5;
}
.tewi-select.disabled, .tewi-select:disabled {
	color: #b18565;
	background-color: transparent;
	border-color: #b18565;
	opacity: 0.4;
}
.tewi-select:focus, .tewi-select:active {
	outline: none !important;
	box-shadow: none;
	background-color: transparent;
	color: var(--color-primary);
	border-color: var(--color-primary);
	opacity: 0.5;
}
.tewi-select option {
	background-color: rgba(0, 0, 0, 0.88);
	color: var(--color-primary);
}
.tewi-input-date {
	background: rgba(252, 175, 69, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: var(--color-primary) !important;
	padding: 6px 8px 6px;
	transition: 0.005s;
}
.tewi-input-date:hover {
	background: var(--tewi-glassmorph);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: white !important;
} 
.tewi-input-date:hover img {
	opacity: 0.5;
}
.tewi-input-date.disabled, .tewi-input-date:disabled {
	color: #b18565;
	background-color: transparent;
	border-color: #b18565;
	opacity: 0.4;
}
.tewi-input-date:focus, .tewi-input-date:active {
	outline: none !important;
	box-shadow: none;
	background-color: transparent;
	color: var(--color-primary);
	border-color: var(--color-primary);
}
.tewi-input-transparent {
	background: transparent !important;
	border-radius: 12px;
	outline: 2px solid var(--color-primary);
	color: var(--color-primary);
	width: 100%;
	height: 100%;
}
.tewi-radio-btn.tewi-inactive, .tewi-radio-btn.tewi-inactive:focus, .tewi-radio-btn.tewi-inactive:active {
	background-color: transparent !important;
	border-color: var(--color-muted) !important;
	opacity: 0.5 !important;
	transition: 0.16s;
}
.tewi-radio-btn.tewi-active, .tewi-radio-btn.tewi-active:focus, .tewi-radio-btn.tewi-active:focus {
	background-color: var(--color-muted) !important;
	color: var(--color-primary) !important;
	border-color: var(--color-primary) !important;
	opacity: 1 !important;
	transition: 0.16s;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	margin-left: -3px;
}
.form-control:disabled, .form-control[readonly] {
	border: inherit;
	background-color: rgba(14, 14, 14, 0.1);
	color: #8d8d8d;
	cursor: not-allowed;
}
.form-control.submitting {
	border: inherit;
	background-color: rgba(14, 14, 14, 0.1);
	color: #8d8d8d;
	cursor: not-allowed;
}
.form-control[readonly]:hover {
	cursor: not-allowed;
}
.form-check-input:checked {
	background-color: #198754;
	border-color: #198754;
}
.input-group-text {
	background-color: #0e0e0e;
	border: 2px solid #0e0e0e;
	color: #a3a4c7;
	padding-bottom: 10px;
}
a {
	color: var(--color-primary);
}
a:hover {
	color: white;
	/*opacity: 0.45;*/
	/*text-decoration: underline;*/
}
.table, table {
	border-color: rgba(255, 255, 255, 0.16);
}
.table {
	color: #fefefe;
}
.dataTable-table:not(.table-borderless) thead th, .table:not(.table-borderless) thead th {
	border-bottom: 1px solid var(--color-muted) !important;
}
tbody, td, tfoot, th, thead, tr {
	border-color: var(--color-muted);
}
.text-primary {
	color: var(--color-primary) !important;
}
.text-info {
	color: #de940c !important;
}
.spinner-border {
	animation: spinner-border .5s linear infinite;
}
.dataTables_paginate {
	margin-top: 5px;
}
.dataTables_paginate a.paginate_button {
    background: rgba(252, 175, 69, 0.08);
    border-radius: 2px;
    border: 1px solid rgba(252, 175, 69, 0.2);
	padding: 7px;
	font-size: 14px;
	cursor: pointer;
	margin-right: 2px;
}
.dataTabes_paginate a.paginate_button:hover {
	background: rgba(252, 175, 69, 0.33);
	color: var(--color-primary);
	transition: 0.075s;
}
.dataTables_paginate .paginate_button.disabled {
	color: var(--color-muted);
	cursor: not-allowed;
}
.dataTables_paginate .paginate_button.current {
	background: rgba(0, 0, 0, 0.33);
	color: white;
	cursor: not-allowed;
}
.dataTables_paginate span span.ellipsis {
	color: var(--color-muted);
}
.dataTables_info {
	font-size: 12px;
	color: var(--color-primary);
}

/* ========================================================================================  */
/* ========================================================================================  */
/* ========================================================================================  */
#main {
	margin-left: 250px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {

}
.sidebar-wrapper .sidebar-header img {
	height: 100%;
}
.sidebar-wrapper {
	background: var(--tewi-glassmorph);
	border-radius: 55px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border: 1px solid rgba(252, 175, 69, 0.2);
	margin-top: 10px;
	margin-left: 10px;
	width: 250px;
	height: 97vh;
}
.sidebar-wrapper .menu .sidebar-link {
	color: var(--color-primary);
	font-size: 14px;
	transition: all 0.08s;
}
.sidebar-wrapper .menu .sidebar-disabled {
	opacity: 0.66;
	color: var(--color-primary);
	font-size: 14px;
	cursor: not-allowed;
}
.sidebar-wrapper .menu .sidebar-link i, .sidebar-wrapper .menu .sidebar-link svg {
	color: var(--color-primary);
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
	border-radius: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.33);
	border-radius: 12px;
/*	border-left: 3px solid var(--color-primary);*/
	transition: 0s;
}
.sidebar-wrapper .menu .sidebar-item .sidebar-disabled:hover {
	border: none !important;
	background-color: inherit !important;
	color: var(--color-primary) !important;
}
.sidebar-wrapper .menu .sidebar-item .sidebar-link:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.33);
	border-radius: 12px;
/*	border-left: 3px solid var(--color-primary);*/
	transition: all 0.01s;
}
.sidebar-wrapper .menu .sidebar-item .sidebar-link.sidebar-logout:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.33);
	border-radius: 12px;
/*	border-left: 3px solid rgba(205, 55, 55);*/
	transition: 0.075s;
}
.sidebar-wrapper .menu .sidebar-item .sidebar-link.sidebar-korone:hover {
	border-radius: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.20);
	border-left: 3px solid #ab776a;
	transition: 0.075s;
}
.sidebar-wrapper .menu .sidebar-item .sidebar-link.sidebar-bdogwife:hover {
	border-radius: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.20);
	border-left: 3px solid #099706;
	transition: 0.075s;
}
.sidebar-wrapper .menu {
	margin-top: 1rem;
	padding: 0 1rem;
	font-weight: 600;
}
.sidebar-wrapper .menu .sidebar-title {
	color: #a3a4c7;
}
.sidebar-wrapper .menu .sidebar-link span {
    margin-left: 0.75rem;
}
.sidebar-logo img {
	filter: drop-shadow(5px 10px 70px #ffff00);
	z-index: 1010;
}
.sidebar-logo h6 {
	z-index: 1050;
}
.bi {
	vertical-align: -.125em;
	width: 1em;
	height: 1em;
	margin-top: -5px;
}
.sidebar-title {
	font-size: 0.75rem !important;
	opacity: 0.66;
}
.warning-banner {
	color: #e75a67;
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(125, 0, 0, 0.53);
}
.warning-banner-sm {
	font-size: 13px;
	color: #dc3545;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(155, 0, 0, 0.08);
}
.info-banner {
	color: #de940c;
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(85, 85, 0, 0.08);
}
.info-banner-sm {
	font-size: 13px;
	color: #f9b436;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(155, 155, 0, 0.24);
}
.success-banner {
	color: var(--color-success);
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(25, 85, 25, 0.24);
}
.success-banner-sm {
	font-size: 13px;
	color: var(--color-success);
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(55, 155, 55, 0.24);
}
.dark-banner-sm {
	font-size: 13px;
	color: #ebebeb;
	margin: 0.08rem;
	border-radius: 4px;
	padding: 0.15rem;
	background-color: var(--color-dark-background);
}
.grey-banner-sm {
	font-size: 13px;
	color: #fff700;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(75, 75, 75, 0.65);
}
.disabled-hover {
	cursor: disabled;
}
.border-blue {
	border: 2px solid #607080;
}
.border-gold {
	border: 2px solid var(--color-primary);
}
.btn-sm-primary {
	border: 1px solid var(--color-primary);
	background-color: transparent;
	color: var(--color-primary);
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
}
.btn-sm-primary:hover {
	border: 1px solid #905879;
	background-color: transparent;
	color: #905879 !important;
	transition: 0.1s;
}
.btn-sm-success {
	border: 1px solid #198754;
	background-color: transparent;
	color: #198754;
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
}
.btn-sm-success:hover {
	border: 1px solid #13613d;
	background-color: transparent;
	color: #13613d;
	transition: 0.1s;
}
.btn-sm-danger {
	border: 1px solid #dc3545;
	background-color: transparent;
	color: #dc3545;
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
}
.btn-sm-danger:hover {
	border: 1px solid #a72935;
	background-color: transparent;
	color: #a72935 !important;
}
.btn-sm-secondary {
	border: 1px solid #6c757d;
	background-color: transparent;
	color: #6c757d;
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
}
.btn-sm-secondary:hover {
	border: 1px solid #596067;
	background-color: transparent;
	color: #596067;
	transition: 0.1s;
}
.btn-container-success {
	background-color: rgba(60,229,134,0.1) !important;
	color: var(--color-success) !important;
	/*padding: 4px 8px;*/
}
.btn-container-success:hover {
	transition: 0.01s;
	/*border: 1px solid #13613d;*/
	background-color: transparent;
	color: #13613d !important;
}
.cursor-pointer:hover {
	cursor: pointer;
}
.input-label {
	font-size: 12px;
}
.choose-employee {
	font-size: 18px;
	margin-top: 0.35em;
	padding: 0.5em;
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.choose-employee span {
	margin-left: 0.75em;
}
.choose-employee:hover {
	cursor: pointer;
	padding-left: 0.65em;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.08);
	transition: 0.05s;
}
.db-identifier:before {
	content: "#";
}
.highlighted {
	background-color: #123826 !important;
	color: #ebebeb !important;
}
.standard-card-btn-primary {
	border-radius: 6px;
	border: 2px solid var(--color-primary);
	color: var(--color-primary);
}
.standard-card-btn .card-btn-icon {
	font-size: 28px;
}
.standard-card-btn .card-btn-text {
	font-size: 18px;
	margin-bottom: -5px;
	font-weight: bold;
}
.standard-card-btn:hover {
	margin-top: 2px;
	opacity: 0.75;
	cursor: pointer;
	transition: 0.05s;
}
.standard-tooltip-title {
	color: #a3a4c7;
	font-size: 14px;
}
.standard-tooltip-text {
	color: #a3a4c7;
	font-size: 16px;
}
.overflow-ellipsis, .truncate {
	text-overflow: ellipsis;
}
.truncate {
	overflow: hidden;
	white-space: nowrap;
}
.inline-block {
	display: inline-block;
}
.head-text {
	font-family: clemente;
}
.hover-disabled {
	cursor: not-allowed;
}
.slanted-button {
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
}
.slanted-button .slanted-button-content {
	-ms-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);  
	display: inline-block;
}
.slanted-button:hover {
	transition: 0.25s;
	-ms-transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	transform: skewX(0deg);
}
.slanted-button:hover .slanted-button-content {
	-ms-transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	transform: skewX(0deg);  
	display: inline-block;
}
.slanted-button-alt {
	-ms-transform: skewX(20deg);
	-webkit-transform: skewX(-0deg);
	transform: skewX(20deg);
}
.slanted-button-alt .slanted-button-content {
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);  
	display: inline-block;
}
.slanted-button-alt:hover {
	transition: 0.16s;
	-ms-transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	transform: skewX(0deg);
}
.slanted-button-alt:hover .slanted-button-content {
	-ms-transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
	transform: skewX(0deg);  
	display: inline-block;
}
.rainbow-button:hover{
	border-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	animation:slidebg 2s linear infinite;
}
@keyframes slidebg {
	to {
		background-position:20vw;
	}
}
.rounded-circle {
	transition: 0.16s;
	border: 1px solid var(--color-primary);
}
.square-avatar {
	transition: 0.16s;
	border-radius: 6px !important;
	border: 1px solid var(--color-primary);
}

/* Standard syntax */
@keyframes sliding {
    50% {background-position: right center;}
}

.tewi-container {
	background: var(--tewi-glassmorph);
	border-radius: 24px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border: 1px solid rgba(252, 175, 69, 0.2);
	max-height: 85vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.tewi-container-noblur {
	background: var(--tewi-glassmorph);
	border-radius: 24px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	max-height: 85vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.tewi-info-container {
	background: var(--tewi-glassmorph);
	border-radius: 24px;
	padding: 12px;
	margin: 0px 2px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.tewi-border {
	border-radius: 4px;
	border: 1px solid var(--color-muted);
}
.tewi-table {
	border: 1px solid var(--color-muted);
}
.tewi-table-icon-hoverable:hover {
	transition: 0.33s;
	transform: scaleX(1.1);
	color: white !important;
}

.tewi-table-editable:hover {
	background-color: #1d2038;
	border-bottom: 1px solid var(--color-primary);
	color: #ebebeb;
	cursor: pointer;
	/*transition: 0.005s;*/
}

.tewi-table-editable .not-allowed:hover {
	border-radius: 2px;
	border-bottom: inherit !important;
	color: inherit !important;
	cursor: not-allowed;
}

.cell-input-group input {
	background-color: transparent;
	border: none;
	color: #fff;
	outline: none;
	font-size: 14px;
	padding-left: 0px;
}

.tewi-tab-primary {
	background: rgba(252, 175, 69, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(252, 175, 69, 0.2);
	color: var(--color-primary);
	font-size: 18px;
}

.tewi-tab-primary.attached-from {
	border-radius: 6px 0 0 6px !important;
	border-right: none;
}

.tewi-tab-primary.attached-to {
	background: rgba(252, 175, 69, 0.2);
	border-radius: 0 6px 6px 0;
	border-left: none;
	width: 40px;
	margin-left: -4px;
}

.tewi-tab-primary:focus, .tewi-tab-primary:active {
	outline: none;
}

.tewi-tab-primary.tewi-tab-hoverable:hover {
/*	border-bottom: 2px solid var(--color-primary);*/
	background: rgba(252, 175, 69, 0.33);
	color: var(--color-primary);
	transition: 0.075s;
}

.tewi-tab-primary.tewi-tab-active {
	background: rgba(0, 0, 0, 0.33);
	color: white;
}

.tewi-tab-primary.tewi-tab-active:hover {
	cursor: not-allowed;
}

.tewi-tab-success {
	background-color: transparent;
	border: none;
	color: #a3a4c7;
	font-size: 18px;
}

.tewi-tab-success:focus, .tewi-tab-success:active {
	outline: none;
}

.tewi-tab-success.tewi-tab-hoverable:hover {
	border-bottom: 2px solid var(--color-success);
	color: var(--color-success);
	transition: 0.075s;
}

.tewi-tab-success.tewi-tab-active {
	border-bottom: 2px solid var(--color-success);
	color: var(--color-success);
}

.tewi-tab-success.tewi-tab-active:hover {
	cursor: not-allowed;
}

.tewi-status-bar {
	width: 8px;
	height: 40px;
	padding: 4px;
	margin: 2px;
	border-radius: 2px;
	background-color: var(--color-success);
	border: 1px solid var(--color-success);
	color: var(--color-success);
}

.tewi-card {
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-muted);
	position: relative;
	overflow: hidden;
}
.tewi-card.tewi-card-hoverable {
	background: linear-gradient(225deg, var(--color-muted) 20px, transparent 20px);
	cursor: pointer;
}
.tewi-card.tewi-card-clickable {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: var(--color-primary) !important;
	transition: 0.005s;
}

.tewi-card:after {
    /*content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid var(--color-muted);
    width: 0;*/
}

.tewi-card.tewi-card-hoverable:hover {
	outline: 2px solid var(--color-primary);
	background: linear-gradient(225deg, var(--color-primary) 20px, transparent 20px);
	transition: 0.04s;
/*	cursor: pointer;*/
}

.tewi-card.tewi-card-hoverable:hover .tewi-card-body span {
	margin-left: 25px;
	transition: 0.08s;
}

.tewi-card.tewi-card-hoverable:hover .tewi-card-title span {
	color: #ebebeb;
	transition: 0.08s;
}
.tewi-card-button {
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-muted);
	position: relative;
	overflow: hidden;
}
.tewi-card-button.tewi-card-hoverable {
	background: linear-gradient(225deg, var(--color-muted) 20px, transparent 20px);
}

.tewi-card-button.tewi-card-hoverable:hover {
	outline: 2px solid var(--color-primary);
	background: linear-gradient(225deg, var(--color-primary) 20px, transparent 20px);
	transition: 0.04s;
	cursor: pointer;
}
.tewi-card-stackable {
	will-change: margin;
	padding: 1rem;
	border-radius: 12px;
	background: #984457;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border: 1px solid #984457;
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 400px;
}

.tewi-card-stackable:hover {
	outline: 2px solid var(--color-primary);
	background: linear-gradient(315deg, var(--color-primary) 35px, transparent 35px);
	transition: 0.04s;
	cursor: pointer;
}

.tewi-card-stackable:hover .tewi-card-body span {
	transition: 0.08s;
}

.tewi-card-stackable:hover .tewi-card-title span {
	transition: 0.08s;
}

.tewi-card-container {
	display: inline-block;
}
.tewi-card-container.stackable {
	transition: 0.5s;
	position: relative;
}
.tewi-card-container.stackable.large {
	margin-right: 350px;
}
.tewi-card-container.stackable.small {
	margin-right: 125px;
}

.tewi-card-container.tewi-card-container-small {
	width: 315px;
}
.tewi-card-container.tewi-card-container-medium {
	width: 400px;
}
.tewi-card-container.tewi-card-container-large {
	width: 465px;
}
.tewi-card-container.tewi-card-container-extralarge {
	width: 545px;
}
.tewi-card-container.tewi-card-container-full {
	width: 100%;
}
.tewi-card-container.tewi-card-container-hoverable {
	border-radius: 12px;
/*	background: linear-gradient(315deg, var(--color-muted) 30px, transparent 30px);*/
}

.tewi-card-container-small .tewi-card .tewi-card-icon, .tewi-card-container-small .tewi-card-button .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 165px;
	left: 165px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card-container-medium .tewi-card .tewi-card-icon, .tewi-card-container-medium .tewi-card-button .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 165px;
	left: 260px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card-container-large .tewi-card .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 240px;
	left: 260px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card-container-extralarge .tewi-card .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 240px;
	left: 350px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card-container-full .tewi-card .tewi-card-icon, .tewi-card-container-full .tewi-card-button .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 144px;
	left: 5px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card-stackable .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 144px;
	left: 260px;
	bottom: 45px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card .tewi-card-icon {
	content: "";
	opacity: 0.45;
	color: var(--color-muted);
	display: block;
	position: absolute;
	font-size: 180px;
	left: 60%;
	bottom: 60%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tewi-card .tewi-card-title {
	font-family: clemente;
	font-size: 14px;
	margin-left: 0.5rem;
}

.tewi-card .tewi-card-body span {
	font-family: clemente;
	font-size: 52px;
	margin-left: 0.5rem;
	color: var(--color-primary);
}

.tewi-card .tewi-text-percentage:after {
	content: "%";
}

.tewi-card .tewi-card-footer {
	margin-left: 0.5rem;
}
.tewi-card-button .tewi-card-title {
	font-family: clemente;
	font-size: 14px;
	margin-left: 0.5rem;
}

.tewi-card-button .tewi-card-body span {
	font-family: clemente;
	font-size: 24px;
	margin-left: 0.5rem;
	color: var(--color-primary);
}

.tewi-card-stackable .tewi-card-title {
	font-family: clemente;
	font-size: 14px;
	margin-left: 0.5rem;
}

.tewi-card-stackable .tewi-card-body span {
	font-family: clemente;
	font-size: 20px;
	margin-left: 0.5rem;
	color: #ebebeb;
}
.tewi-card-stackable .tewi-card-footer {
	margin-left: 0.5rem;
}

.tewi-card-button .tewi-text-percentage:after {
	content: "%";
}

.tewi-card-button .tewi-card-footer {
	margin-left: 0.5rem;
}

.tewi-card-background {
}

.channel-card {
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-muted);
	position: relative;
}
.channel-card.channel-card-hoverable {
	background: linear-gradient(225deg, var(--color-muted) 20px, transparent 20px);
}

.channel-card:after {
    /*content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid var(--color-muted);
    width: 0;*/
}

.channel-card.channel-card-hoverable:hover {
	outline: 2px solid var(--color-primary);
	background: linear-gradient(225deg, var(--color-primary) 20px, transparent 20px);
	transition: 0.04s;
	cursor: pointer;
}

.channel-card.channel-card-hoverable:hover .channel-card-body span {
	margin-left: 14px;
	transition: 0.08s;
}

.channel-card.channel-card-hoverable:hover .channel-card-title span {
	color: #ebebeb;
	transition: 0.08s;
}

.channel-card-title {
	font-family: clemente;
	font-size: 12px;
	margin-left: 0.5rem;
}

.channel-card-body span {
	font-family: clemente;
	font-size: 16px;
	margin-left: 0.5rem;
	color: var(--color-primary);
}

.horizontal-line-text {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #273048; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.horizontal-line-text span { 
    background: #1d2038; 
    padding:0 10px; 
}

.sidebar-horizontal-line-text {
	width: 80%; 
	text-align: center; 
	border-bottom: 1px solid var(--color-muted); 
	/*   line-height: 0em;*/
	padding-bottom: 4px;
	margin: 15px 0 8px 18px; 
} 

.sidebar-horizontal-line-text span { 
	font-size: 12px;
/*    background: rgba(252, 175, 69, 0.08);*/
/*	border-radius: 6px;*/
/*	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
/*	border: 1px solid rgba(252, 175, 69, 0.2);*/
    padding:0 10px;
    color: var(--color-muted);
}

.header-horizontal-line-text {
   width: 89.5%;
   border-bottom: 1px solid var(--color-muted); 
   line-height: 0em;
   margin: 15px 0 20px 125px; 
} 

.header-horizontal-line-text span { 
	font-size: 20px;
    padding:0 10px;
    margin-left: -125px;
    color: var(--color-muted);
}

.header-horizontal-line-text-sm {
   width: 89.5%;
   border-bottom: 1px solid var(--color-muted); 
   line-height: 0em;
   margin: 15px 0 20px 110px; 
} 

.header-horizontal-line-text-sm span { 
	font-size: 14px;
    padding:0 10px;
    margin-left: -110px;
    color: var(--color-muted);
}

.shine, .shine2, .shine3, .shine-success, .shine2-success {
	position: relative;
}
.hide-scroll {
	animation: hide-scroll 1.2s backwards;
}
.table-responsive {
	overflow-x: hidden;
	padding-bottom: 25px;
}
.clock-spin:before {
	content: '';
	border: 5px dashed #4BB543;
	width: 100%;
	height: 100%;
	animation: spin 15s linear infinite;
	position: absolute;
}
.clock-loading-btn {
	background: rgba(252, 175, 69, 0.08);
	border-radius: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border: 1px solid rgba(252, 175, 69, 0.2);
	height: 350px;
	width: 350px;
	transition: all 0.3s;
	animation: gradient-spin 0.5s linear infinite;
}
.clockin-btn {
	background: rgba(22, 254, 14, 0.5);
	border-radius: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.2px);
	-webkit-backdrop-filter: blur(8.2px);
	height: 350px;
	width: 350px;
	transition: all 0.3s;
}
.clockin-btn::before,
.clockin-btn::after {
	background: rgba(22, 254, 14, 0.04);
	border-radius: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8.2px);
	-webkit-backdrop-filter: blur(8.2px);
	content: '';
	position: absolute;
	z-index: -1;
}
.clockin-btn::after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
	transition: all 0.3s;
}
.clockin-btn:hover:after {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.clockin-btn:hover {
	color: #fff !important;
/*	background-position: left bottom;*/
} 
.clockin-btn:hover img {
	opacity: 1;
}
.clockin-btn:active, .clockin-btn:focus {
	border: 1px solid #4aa533;
	background-color: transparent;
	color: #fff !important;
}
.clockout-btn {
	background: rgba(254, 128, 14, 0.5);
	border-radius: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.2px);
	-webkit-backdrop-filter: blur(8.2px);
	height: 350px;
	width: 350px;
	transition: all 0.3s;
}
.clockout-btn::before,
.clockout-btn::after {
	background: rgba(254, 128, 14, 0.04);
	border-radius: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8.2px);
	-webkit-backdrop-filter: blur(8.2px);
	content: '';
	position: absolute;
	z-index: -1;
}
.clockout-btn::after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
	transition: all 0.3s;
}
.clockout-btn:hover:after {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.clockout-btn:hover {
	color: #fff !important;
/*	background-position: left bottom;*/
} 
.clockout-btn:hover img {
	opacity: 1;
}
.clockout-btn:active, .clockout-btn:focus {
	border: 1px solid #de940c;
	background-color: transparent;
	color: #fff !important;
}
.discord-btn {
	border: 1px solid #5865F2;
	background-color: transparent;
	color: #5865F2 !important;
	padding: 4px 8px;

	background: linear-gradient(to right, #5865F2 50%, #201a16 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .18s ease-out;
}
.discord-btn:hover {
	color: #fff !important;
	background-position: left bottom;
} 
.discord-btn:hover img {
	opacity: 1;
}
.discord-btn:active, .discord-btn:focus {
	border: 1px solid #5865F2;
	background-color: transparent;
	color: #fff !important;
}
.nhentai-btn {
	border: 1px solid #a50d31;
	background-color: transparent;
	color: #a50d31 !important;
	padding: 4px 8px;

	background: linear-gradient(to right, #a50d31 50%, #1d2038 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .18s ease-out;
}
.nhentai-btn:hover {
	color: #fff !important;
	background-position: left bottom;
} 
.nhentai-btn:hover img {
	opacity: 1;
}
.nhentai-btn:active, .nhentai-btn:focus {
	border: 1px solid #a50d31;
	background-color: transparent;
	color: #fff !important;
}
.friendster-btn {
	border: 1px solid #12923b;
	background-color: transparent;
	color: #12923b !important;
	padding: 4px 8px;

	background: linear-gradient(to right, #12923b 50%, #1d2038 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .18s ease-out;
}
.friendster-btn:hover {
	color: #fff !important;
	background-position: left bottom;
} 
.friendster-btn:hover img {
	opacity: 1;
}
.friendster-btn:active, .friendster-btn:focus {
	border: 1px solid #12923b;
	background-color: transparent;
	color: #fff !important;
}

.login-section {
	height: 100%;
}

.text-outlined {
	text-shadow: rgb(0 0 0) 4px 0px 0px, rgb(0 0 0) 3.87565px 0.989616px 0px, rgb(0 0 0) 3.51033px 1.9177px 0px, rgb(0 0 0) 2.92676px 2.72656px 0px, rgb(0 0 0) 2.16121px 3.36588px 0px, rgb(0 0 0) 1.26129px 3.79594px 0px, rgb(0 0 0) 0.282949px 3.98998px 0px, rgb(0 0 0) -0.712984px 3.93594px 0px, rgb(0 0 0) -1.66459px 3.63719px 0px, rgb(0 0 0) -2.51269px 3.11229px 0px, rgb(0 0 0) -3.20457px 2.39389px 0px, rgb(0 0 0) -3.69721px 1.52664px 0px, rgb(0 0 0) -3.95997px 0.56448px 0px, rgb(0 0 0) -3.97652px -0.432781px 0px, rgb(0 0 0) -3.74583px -1.40313px 0px, rgb(0 0 0) -3.28224px -2.28625px 0px, rgb(0 0 0) -2.61457px -3.02721px 0px, rgb(0 0 0) -1.78435px -3.57996px 0px, rgb(0 0 0) -0.843183px -3.91012px 0px, rgb(0 0 0) 0.150409px -3.99717px 0px, rgb(0 0 0) 1.13465px -3.8357px 0px, rgb(0 0 0) 2.04834px -3.43574px 0px, rgb(0 0 0) 2.83468px -2.82216px 0px, rgb(0 0 0) 3.44477px -2.03312px 0px, rgb(0 0 0) 3.84068px -1.11766px 0px, rgb(0 0 0) 3.9978px -0.132717px 0px;
}
.page-title h3 {
/*    text-shadow: rgb(0 0 0) 2px 0px 0px, rgb(0 0 0) 1.953px 0.494px 0px, rgb(0 0 0) 1.755px 1.525px 0px, rgb(0 0 0) 1.463px 2.141px 0px, rgb(0 0 0) 1.0806px 2.6804px 0px, rgb(0 0 0) 0.618px 3.0584px 0px, rgb(0 0 0) 0.096px 3.292px 0px, rgb(0 0 0) -0.462px 3.384px 0px, rgb(0 0 0) -1.082px 3.3298px 0px, rgb(0 0 0) -1.6234px 3.1347px 0px, rgb(0 0 0) -2.0636px 2.8098px 0px, rgb(0 0 0) -2.3846px 2.3693px 0px, rgb(0 0 0) -2.5746px 1.8318px 0px, rgb(0 0 0) -2.6268px 1.2196px 0px, rgb(0 0 0) -2.5398px 0.5566px 0px, rgb(0 0 0) -2.3172px -0.0979px 0px, rgb(0 0 0) -1.9677px -0.7246px 0px, rgb(0 0 0) -1.5022px -1.2885px 0px, rgb(0 0 0) -0.9369px -1.7451px 0px, rgb(0 0 0) -0.2892px -2.0595px 0px, rgb(0 0 0) 0.383px -2.211px 0px, rgb(0 0 0) 1.0184px -2.1918px 0px, rgb(0 0 0) 1.5805px -1.9985px 0px, rgb(0 0 0) 2.0474px -1.6454px 0px, rgb(0 0 0) 2.3902px -1.1493px 0px, rgb(0 0 0) 2.5843px -0.5438px 0px, rgb(0 0 0) 2.6137px 0.039px 0px;*/
}

/* Shine */
.shine:after {
	content: "";
	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine-slide 1s;
	animation-iteration-count: 1;
	
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #67baf511 0%, #67baf577 50%, #446276 99%, #446272 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* IE10+ */
	background: linear-gradient(to right, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* W3C */
}
.shine2:after {
	content: "";
	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine2-slide 0.4s;
	animation-iteration-count: 1;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #67baf511 0%, #67baf577 50%, #446276 99%, #446272 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* IE10+ */
	background: linear-gradient(to right, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* W3C */
}

.shine3:after {
	content: "";
	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine3-slide 0.28s;
	animation-iteration-count: 1;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #67baf511 0%, #67baf577 50%, #446276 99%, #446272 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* IE10+ */
	background: linear-gradient(to right, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* W3C */
}
.shine-success:after {
	content: "";
	top:0;
	transform:translateX(10%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine-slide 0.05s;
	animation-iteration-count: infinite;
	
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #3ce58605 0%, #3ce58611 50%, #33623322 99%, #22622233 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #3ce58605 0%,#3ce58611 50%,#33623322 99%,#22622233 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #3ce58605 0%,#3ce58611 50%,#33623322 99%,#22622233 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #3ce58605 0%,#3ce58611 50%,#33623322 99%,#22622233 100%); /* IE10+ */
	background: linear-gradient(to right, #3ce58605 0%,#3ce58611 50%,#33623322 99%,#22622233 100%); /* W3C */
}
.shine2-success:after {
	content: "";
	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine2-slide 0.4s;
	animation-iteration-count: 1;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #3ce58611 0%, #3ce58677 50%, #336233 99%, #226222 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #3ce58611 0%,#3ce58677 50%,#336233 99%,#226222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #3ce58611 0%,#3ce58677 50%,#336233 99%,#226222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #3ce58611 0%,#3ce58677 50%,#336233 99%,#226222 100%); /* IE10+ */
	background: linear-gradient(to right, #3ce58611 0%,#3ce58677 50%,#336233 99%,#226222 100%); /* W3C */
}
/* Shine */
.shine-loading:after {
	content: "";
	top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: shine-loading 1s;
	animation-iteration-count: infinite;
	
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
	background: -moz-linear-gradient(left, #67baf511 0%, #67baf577 50%, #446276 99%, #446272 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* IE10+ */
	background: linear-gradient(to right, #67baf511 0%,#67baf577 50%,#446276 99%,#446272 100%); /* W3C */
}
.shine-success-background {
	background-color: #3ce586a5;
	animation: shine-success-background 0.75s;
	animation-iteration-count: 1;
}
.shine-warning-background {
	background-color: var(--color-warning);
	animation: shine-warning-background 0.75s;
	animation-iteration-count: 1;
}
.shine-white-background {
	background-color: #fff;
	animation: shine-white-background 0.75s;
	animation-iteration-count: 1;
}
.shine-primary-background {
	background-color: var(--color-primary);
	animation: shine-primary-background 0.75s;
	animation-iteration-count: 1;
}
.shake {
	animation: shake 0.56s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

.wave-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 2px;
  height: 35px;
  background: linear-gradient(45deg, var(--color-muted), var(--color-primary));
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* animation */

@keyframes shine-slide {
	0% {transform:translateX(-10%);}
	100% {transform:translateX(10%);}
}
@keyframes shine2-slide {
	0% {transform:translateX(-25%);}
	100% {transform:translateX(100%);}
}
@keyframes shine3-slide {
	0% {transform:translateX(-25%);}
	100% {transform:translateX(100%);}
}
@keyframes shine-loading {
	0% {transform:translateX(-25%);}
	100% {transform:translateX(25%);}
}

@keyframes hide-scroll {
  from, to { overflow: hidden; } 
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-6px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(12px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-24px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(24px, 0, 0);
  }
}

/* Main Loader */
.loader {
  position: relative;
  width: 180px;
  height: 180px;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;

}

/* Loader Blue Circle */
.loader::before {
  background: var(--color-primary);
  animation: animate 1.5s ease-in-out infinite;
}

/* Loader Glassmorphism */
.loader::after {
  background: rgba(56, 109, 241, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation: animate 1.5s ease-in-out infinite;
  z-index: 1;
  animation-delay: -0.75s;
}

/* Animation */
@keyframes animate {
  0%,
  100% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(80px);
  }
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.08);
	/*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);*/
	border-radius: 20%;
	border: 1px solid rgba(255, 255, 255, 0.12);
    
    bottom: -150px;
    z-index: -2;
    
}

.circles li.circles-animation-slow {
	animation: glass-background-animation 25s linear infinite;
	animation-fill-mode: forwards;
}

.circles li.circles-animation-fast {
	animation: glass-background-animation 3s linear infinite;
	animation-fill-mode: forwards;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 6s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 9s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 17s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 4s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 11s;
}



@keyframes glass-background-animation {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }

}
.tewi-overlay {
    transition: 0s;
    background: rgb(52,126,193);
	background: linear-gradient(344deg, rgba(52,126,193,1) 0%, rgba(91,159,170,1) 53%, rgba(110,205,247,1) 94%);
    position: absolute;
    color: var(--color-primary);
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.tewi-grand-input {
	background: #7cc5de;
	border-radius: 15px;
	border: 1px solid var(--color-muted);
	color: #0e0e0e;
	outline: none;
	padding: 4px 8px 4px 8px;
	font-size: 36px;
	font-family: Small Bunny;
	width: calc(267px - 16px); /* Total width of buttons - padding */
	transition: 0.08s;
}
.tewi-grand-input:active, .tewi-grand-input:focus {
	border: 1px solid var(--color-primary);
	outline: none;
	transition: 0.08s;
}
.tewi-grand-input::placeholder {
	color: var(--color-muted);
}
.tewi-grand-input select:hover {
	background-color: rgba(0, 0, 0, 0.08);
	cursor: pointer;
}
.tewi-grand-input option {
	background-color: rgba(0, 0, 0, 0.88);
	color: var(--color-primary);
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spinner-container p {
    margin-top: 10px;
    color: #0e0e0e;
    font-size: 1rem;
}
 @keyframes hue-rotate {
	 from {
		 -webkit-filter: hue-rotate(0);
		 -moz-filter: hue-rotate(0);
		 -ms-filter: hue-rotate(0);
		 filter: hue-rotate(0);
	}
	 to {
		 -webkit-filter: hue-rotate(360deg);
		 -moz-filter: hue-rotate(360deg);
		 -ms-filter: hue-rotate(360deg);
		 filter: hue-rotate(360deg);
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}
@keyframes gradient-spin {
    from { transform: rotateZ(0deg);  }
    to { transform: rotateZ(360deg); }
}
@keyframes shine-success-background {
	from { background-color: #3ce586a5; }
	to { background-color: inherit; }
}
@keyframes shine-warning-background {
	from { background-color: var(--color-warning); }
	to { background-color: inherit; }
}
@keyframes shine-white-background {
	from { background-color: #fff; }
	to { background-color: inherit; }
}
@keyframes shine-primary-background {
	from { background-color: var(--color-primary); }
	to { background-color: inherit; }
}
@keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0.1; }
	100% { opacity: 1; }
}
@keyframes body-dark-mode {
	0% { background: linear-gradient(315deg, rgba(57,70,172,1) 0%, rgba(87,26,177,1) 23%, rgba(107,9,84,1) 89%); }
	100% { background: linear-gradient(315deg, rgb(39 48 118) 0%, rgb(60 18 123) 23%, rgb(35 3 28) 89%) }
}